* {
    box-sizing: border-box;
    margin: 0;
}


.grid-container {
    display: grid;
    gap: 1.5vw;
    grid-template-columns: repeat(auto-fill, minmax(38vw, 1fr));
}

body {
    font-family: sans-serif;
	background: url(img-css/fondo.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
    margin: 1.5vw;
}

body::before{
	content:"";
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(135deg,navy,lightblue,navy,purple,pink,purple);
	opacity: 0.9;
	z-index: -1;
}

.grid-items{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

ul {
    border-radius: 2vw;
    padding: 2vw;
    background-color: rgba(0, 0, 0, 0.2);
}

.iconos {
    border-radius: 1vw;
    width: 100%;
}

.contenedor-imagen-y-texto{
    position: relative;
    display: inline-block;
    text-align: center;
}
 

.texto-central{
    position: absolute;
    width: 100%;
    font-size: 3vw;
    font-family: tahoma;
    padding: 0.5vw;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/*Orientacion Horizontal*/

@media screen and (orientation: landscape) {

    .grid-container {
        gap: 1vw;
        grid-template-columns: repeat(auto-fill, minmax(22vw, 1fr));
    }

    ul {
        padding: 1.5vw;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .texto-central {
        font-size: 1.5vw;
        padding: 0.3vw;
    }
}

/*Medias Queries Tablets*/

/*Orientacion Vertical*/

@media screen and (min-width: 712px) and (max-width: 1024px) and (orientation: portrait) {

    .grid-container {
        gap: 1vw;
        grid-template-columns: repeat(auto-fill, minmax(26vw, 1fr));
    }

    .texto-central {
        font-size: 1.7vw;
        padding: 0.3vw;
    }
}

/*Orientacion Horizontal*/

@media screen and (min-width: 1024px) and (max-width: 1920px) and (orientation: landscape) {

    .grid-container {
        gap: 1vw;
        grid-template-columns: repeat(auto-fill, minmax(19vw, 1fr));
    }

    .texto-central {
        font-size: 1.5vw;
        padding: 0.2vw;
    }
}
